In [5]:
from pyspark.sql import SparkSession, SQLContext, Row
sc=SparkSession.builder.getOrCreate().sparkContext

In [6]:
sqlC=SQLContext(sc)

In [46]:
# Метод SQLContext.jsonFile() из ранних версий фреймворка Spark заменен на метод SQlContext.read.json()
input=sqlC.read.option("multiline","true").json('tweets.json').persist()

In [47]:
# Зарегистрировать временную таблицу RDD
input.registerTempTable('tweets')

In [48]:
input.show()

+--------------------+---+--------------------+--------------------+
|           createdAt| id|                text|                user|
+--------------------+---+--------------------+--------------------+
|Nov 4, 2014 4:56:...|123|Adventures With C...|{15594928, Holden...|
|Nov 5, 2014 14:26...|456|      text text text|{12, john deer, j...|
|Nov 6, 2014 1:26:...|789|         aaa aaa aaa|  {13, micledo, mdo}|
+--------------------+---+--------------------+--------------------+

In [60]:
tweets=sqlC.sql("""SELECT id, text FROM tweets""")

In [61]:
# чтобы применить методы map(), filter() и т.д. необходимо преобразовать объект DataFrame в RDD:
tweets.show()

+---+--------------------+
| id|                text|
+---+--------------------+
|123|Adventures With C...|
|456|      text text text|
|789|         aaa aaa aaa|
+---+--------------------+